<header class="header">
  <div class="logo-head">
    <a href="/" class="logo">

    </a>
    <h1>{{title}}</h1>
  </div>

  <nav class="main-nav">
    <ul class="main-nav-list">
      <li><a href="/" class="main-nav-link">Weather</a></li>
      <li><a href="/about" class="main-nav-link">About</a></li>
      <li><a href="/help" class="main-nav-link">Help</a></li>
    </ul>
  </nav>

</header>