* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
}

body {
  color: #333;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  max-width: 65rem;
  margin: 0 auto;
  padding: 0 1.6rem;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

.logo-head {
  display: flex;
  justify-content: center;
}

.main-nav {
  display: flex;
  justify-content: center;
}

.header {
  margin-top: 1.6rem;
  margin-bottom: 4.8rem;
}

.logo {
  height: 4.4rem;
  width: 4.4rem;
  background-color: #eb984e;
  /* background-color: #fdf2e9; */
  border-radius: 50%;
  padding: 1.6rem;

  transition: all 300ms;
}

.logo:hover {
  background-color: #cf711f;
}

h1 {
  font-size: 4.2rem;
  margin: 1.2rem;
  font-weight: 500;
  color: #776555;
  margin: 1.2rem;
}

.main-nav-list {
  list-style: none;
  margin-top: 1.6rem;

  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #888;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 300ms;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.container {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
  margin: 0 auto;
  border-radius: 1.1rem;

  display: grid;
  grid: repeat(2, 1fr);
  gap: 3.2rem 2.4rem;
  justify-content: center;
}

form {
  display: flex;
  gap: 2.4rem;
}

.portrait {
  width: 25rem;
}

.weather-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin: 1.2rem;
  color: #555;
}

input {
  border: none;
  border-radius: 9px;
  padding: 1.2rem;
  font-family: inherit;
  font-size: 2rem;
  color: #555;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  padding: 1.2rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;
  background-color: #e67e22;

  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  transition: all 300ms;
}

.btn:hover,
.btn:active {
  background-color: #cf711f;
}

.footer {
  color: #888;
  border-top: 1px solid #eee;
  margin-top: 1.6rem;
  padding: 1.6rem 0;
}
